header {
    background-color: rgb(155, 155, 155);
    display: flex;
    padding: 1em;
    width: 100%;
    align-items: center;
    border: rgb(99, 99, 99) solid 2px;
}
.links {
    display: inline;
    margin-left: 80%;
}


.titulo {
    text-align: left;
    font-size: larger;
    font-weight: bold;
}


.links {
    display: inline;
}

.imgDescricao {
    background-color: lightgray;
    display: flex;
    padding: 2em;
}

.img {
    border-radius: 100%;
}

.descricao {
    text-align: justify;
    margin-top: 15%;
    font-size: large;
    font-weight: 500;
    margin-left: 5%;

}




.hobbiesCoisasFavoritas{

    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: larger;
    font-weight: bold;
}
.hobbies{
    width: 50%;
}

.hobbie1, 
.hobbie2, 
.hobbie3, 
.hobbie4, 
.hobbie5, 
.coisaFav1, 
.coisaFav2, 
.coisaFav3, 
.coisaFav4, 
.coisaFav5 {
    background-color: rgb(211, 220, 222);
    width: 90px;
    height: 90px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10%;
    border: rgb(46, 46, 46) solid 2px;
} 

.hob1 {
    width: 50%;
}
.coisa1 {
    width: 50%;
}



.listaHobbies {
    display: flex;
}



.listaCoisasFavoritas {
    display: flex;
}


footer {
    margin-top: auto;
    background-color: rgb(207, 207, 207);
    display: flex;
    border: rgb(99, 99, 99) solid 2px;
    padding: 10px;

}

.textoContato{
    font-size: larger;
    font-weight: bold;
}

.contato {

    justify-content: left;
}

.imagensContato {

    justify-content: center;
}

.paginaContato {

    justify-content: right;
    margin-left: 80%;
    font-weight: bold;
}
.link:hover {
    color:white
}
.img:hover {
    border: black solid 2px;
}

@media(max-width:900px) {
    .imgDescricao {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .listaHobbies {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 30%;
    }
    .listaCoisasFavoritas {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 30%;

    }
    .hobbiesCoisasFavoritas {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:770px) {
    .hobbiesCoisasFavoritas {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}